@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #7E73FE;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    overflow: hidden;
}

button{
    margin-inline: 10px;
    border-radius: 10px;
}
